<IfModule mod_rewrite.c>
    Options -MultiViews -Indexes
    RewriteEngine On

    # Laat bestaande bestanden en mappen ongemoeid
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteCond %{REQUEST_FILENAME} !-d

    # Alle overige requests naar index.php
    RewriteRule ^ index.php [L]
</IfModule>
